button {
  padding: 10px 30px;
  border: 2px solid #bfd2ff;
  background: rgba(57, 63, 84, 0.8);
  color: #7881a1;
  text-align: center;
  text-decoration: none;
  font: 400 16px Arial;
  margin: 20px 0;

  &:hover {
    background: #bfd2ff;
  }

  &:disabled {
    border: 1px solid #7881a1;

    &:hover {
      background: rgba(57, 63, 84, 0.8);
    }
  }
}
