<main class="ng-demo-content ng-demo-padding ng-demo-padding-top-48">
  <div class="ng-demo-container ng-demo-padding-32" id="projects">
    <h3 class="ng-demo-border-bottom ng-demo-border-light-grey ng-demo-padding-16">Projects</h3>
  </div>

  <div class="ng-demo-row-padding">
    <div class="ng-demo-col l3 m6 ng-demo-margin-bottom">
      <div class="ng-demo-display-container">
        <a [routerLink]="['/reusable-forms']" routerLinkActive="router-link-active">
          <img src="assets/images/reusable-forms.png" alt="Reusable forms project" />
        </a>
        <div class="ng-demo-display-topleft ng-demo-black ng-demo-padding">Reusable forms</div>
      </div>
    </div>
  </div>
</main>
<ng-demo-footer></ng-demo-footer>
