<div class="grid">
  <div class="card">
    <div class="card-title">Plus SVG</div>
    <ts-svg [name]="'plus'" class="svg"></ts-svg>
  </div>

  <div class="card">
    <div class="card-title">Plus SVG</div>
    <ts-svg [name]="'plus'" class="svg"></ts-svg>
  </div>

  <div class="card">
    <div class="card-title">Plus SVG</div>
    <ts-svg [name]="'plus'" class="svg"></ts-svg>
  </div>

  <div class="card">
    <div class="card-title">Plus SVG</div>
    <ts-svg [name]="'plus'" class="svg"></ts-svg>
  </div>
</div>

<div class="grid">
  <div class="card">
    <div class="card-title">Minus SVG</div>
    <ts-svg [name]="'minus'" class="svg"></ts-svg>
  </div>
</div>

<router-outlet></router-outlet>

<core-footer color="white"></core-footer>

<ts-svg-symbol></ts-svg-symbol>
